@import 'config';
.about-header {
    background-color: $background-color;
    height: 20vh;
}

.about-header-top {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-section {
    background-color: $background-color;
    height: 130vh;
}

.left-nav {
    position: relative;
}

.circle_part-about {
    background-image: url(/assets/shared/desktop/bg-pattern-circle.svg);
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -20%;
    left: 37%;
    background-position: bottom;
}

.about-head {
    color: $san-juan-blue;
    font-size: 3.5rem;
    margin: 0 30% 0 10%;
    @include fontHead;
}

// vision and business
.vision-business {
    margin: 7% 15% 0 10%;
}

.vision-part {
    @include flexCenter;
}

.vision-head {
    width: 130%;
    color: $san-juan-blue;
    font-size: 2.0rem;
    @include fontHead;
}

.vision-paragraph {
    color: $light-san-juan-blue;
    line-height: 30px;
    font-size: 1.2rem;
    @include fontParagraph;
}

.business-part {
    @include flexCenter;
    margin-top: 5%;
}

.business-head {
    width: 110%;
    color: $san-juan-blue;
    font-size: 2.0rem;
    @include fontHead;
}

.business-paragraph {
    color: $light-san-juan-blue;
    line-height: 30px;
    font-size: 1.2rem;
    @include fontParagraph;
}

.circle_part-team-members {
    background-image: url(/assets/shared/desktop/bg-pattern-circle.svg);
    height: 150vh;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    left: -37%;
    background-position: left;
}

.big-picture-part {
    margin-top: -5%;
    background-color: $background-color;
}

.team-members-picture {
    position: relative;
}

.team-member-details {
    margin-top: 20%;
    @include flexCenter;
    margin-bottom: 10%;
}

.team-member-header,
.office-in-the-us-head,
.transaction-header {
    @include fontParagraph;
    color: $light-san-juan-blue;
    line-height: 30px;
    font-size: 1.2rem;
}

.team-number,
.office-in-the-us-number,
.transaction-number {
    color: $dark-pink;
    font-size: 3.0rem;
    font-weight: bolder;
    margin-top: 5%;
}

// CULTURE AND PEOPLE
.office-and-people {
    height: 50vh;
    background-color: $background-color;
}

.office-and-people-container {
    margin: 0% 15% 0 10%;
}

.office-details {
    @include flexCenter;
}

.office-header {
    width: 130%;
    color: $san-juan-blue;
    font-size: 2.0rem;
    @include fontHead;
}

.office-paragraph {
    color: $light-san-juan-blue;
    line-height: 30px;
    font-size: 1.2rem;
    @include fontParagraph;
}

.people-details {
    @include flexCenter;
    margin-top: 5%;
}

.people-header {
    width: 70%;
    color: $san-juan-blue;
    font-size: 2.0rem;
    @include fontHead;
}

.people-paragraph {
    color: $light-san-juan-blue;
    line-height: 30px;
    font-size: 1.2rem;
    @include fontParagraph;
}